<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="url" value="https://yandex.ru/maps/56/chelyabinsk/"/>
    <add key="btn_search" value="/html/body/div[1]/div[2]/div[2]/div/div/div/form/div[3]/button/span/div"/>
    <add key="input" value="/html/body/div[1]/div[2]/div[2]/div/div/div/form/div[2]/div/span/span/input"/>
    <add key="title" value="/html/body/div[1]/div[2]/div[4]/div[1]/div[1]/div/div/div[1]/div/div[2]/h1"/>
    <add key="descr" value="/html/body/div[1]/div[2]/div[4]/div[1]/div[1]/div/div/div[1]/div/div[3]/div[1]"/>
    <add key="capcha" value="/html/body/div/p"/>
    <add key="capcha_text" value ="Нам очень жаль, но запросы, поступившие с вашего IP-адреса, похожи на автоматические."/>
  </appSettings>
</configuration>